@keyframes rotating {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.fadein {
  animation: fadein 1s;
  opacity: 1;
}

.fadeout {
  animation: fadeout 1s;
  opacity: 0;
}

.loading-indicator {
  background: rgba(255, 255, 255, 0.6);
  bottom: 0;
  display: flex;
  left: 0;
  pointer-events:none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;

  .casumo-spinner {
    height: 165px;
    margin: auto;
    position: relative;
    width: 165px;

    img {
      position: absolute;
    }

    .casumo {
      top: 40px;
    }

    .spinner {
      left: 37px;
      top: 40px;

      animation: rotating 2s linear infinite;
    }
  }
}
