@import '../../colors';

.header {
  background: $charcoal;
  color: $pale-gold;

  .title {
    margin: 2rem 0 0 0;
  }

  .subtitle {
    margin: 0 0 1rem 0;
  }

  .icons {
    color: $paper;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    position: relative;
    top: -0.5rem;

    span {
      cursor: pointer;
      margin: 1rem;

      &:hover {
        color: $silk;
      }
    }
  }
}
