@import '../../colors';


#footer {
  background: $paper;
  border: 0;
  bottom: 0;
  position: absolute;
  width: 100%;

  ul.pagination {
    cursor: pointer;

    li.active a {
      background: none;
      color: $charcoal;

      &:hover {
        background: none;
      }
    }

    li.disabled a {
      background: none;
      color: $pale-gold;
      opacity: 0.25;

      &:hover {
        background: none;
      }
    }

    a {
      background: none;
      border: none;
      border-radius: 3rem;
      color: $pale-gold;
      font-size: 1.5rem;
      margin: 0.5rem;

      &:hover {
        background: none;
        color: $silk;
      }
    }
  }
}
