@import 'colors';
@import 'fonts/fonts.css';

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Circular-Pro-Medium';
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 8rem;
}

.capitalize {
  text-transform: capitalize;
}

// Fix footer to bottom of page, not viewport
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

// Override Bootstrap
.btn {
  border-radius: 0;
}

.dropdown {
  &>button {
    padding: 0.7rem;
  }
}

.dropdown-menu {
  border-radius: 0;
  margin: 0;

  &>li>a {
    padding: 1rem;
  }
}

// Override rc-select
.Select {
  margin-bottom: 1rem;

  .Select-control {
    border-radius: 0;
  }
}
