.book {
  height: 330px;
  min-height: 330px;
  margin: 2.5rem auto;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;

  img {
    max-height: 200px;
    margin-bottom: 1rem;
  }

  &__title {
    color: black;
    font-size: 1.6rem;
    font-weight: bold;
  }

  &__author {
    color: #333;
    font-family: 'Circular-Pro-Book-Italic';
    font-size: 1.5rem;
  }

  &__published {
    color: #999;
    opacity: 1;
    font-size: 1.1rem;
    font-family: 'Circular-Pro-Book'
  }

  &__bullet {
    color: #ddd;
  }

  &__genre {
    color: #999;
    opacity: 1;
    font-size: 1.1rem;
    font-family: 'Circular-Pro-Book-Italic';
    text-transform: capitalize;
  }

  &__offer {
    display: none;
  }
}
